.layui-header div.logo{width: 51px;height: 21px;margin: 14px 0 auto 19px;}
.layui-layout-admin .layui-body{padding-bottom: 0}
.layui-layout-admin{height: 100%;position: relative;}
.layui-layout-admin .layui-body{left: 0;}
.layui-layout-admin .index-header{height: 80px;width: 100%;position: relative;}
.layui-nav .layui-nav-item{width: 33%;line-height: 80px; color: #979797;}
.layui-nav-item.layui-this{background-color: #393D41}
.layui-body{margin-bottom: 80px;}
.layuimini-content-page{height: 100%;max-width: 420px;margin: 0 auto;scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */}
.layui-layout-admin .footer{font-size: 17px;position: absolute;bottom: 0;left: 0;height: 80px;line-height: 80px;width: 100%;background-color: #393D41;color: #B2B6BA;text-align: center;}
.layui-layout-admin .footer .nav{display: flex;flex-direction: row;text-align: center;}
.layui-layout-admin .footer .nav span{flex: 1;cursor: pointer;}
.layui-layout-admin .footer .nav i{width: 1px;height: 15px;margin-top: 3px;background: #B2B6BA;}
.layui-layout-admin .footer div:last-child{font-size: 12px;line-height: 16px;color: #7A7A7A;margin-top: 20px;}
.layui-layout-admin .footer .select{color: white;}
.layui-nav .layui-nav-item a span{font-size: 17px;}

.intercom-lightweight-app-launcher{
    bottom: 100px !important
}
.intercom-namespace .intercom-with-namespace-52k34s{bottom: 100px !important}