.layuimini-main{margin: 0;}
.layuimini-modify-password .logo-title{height: 50px;width: 100%;background-color: white;color: #393D41;line-height: 50px;text-align: center;}
.layuimini-modify-password .logo-title div{position: absolute;top: 0;left: 0;width: 50px;height: 50px;text-align: left;}
.layuimini-modify-password .logo-title div img{width: 11px;height: 19px;margin: 15px 0 0 20px;}
.layuimini-modify-password .logo-title h1{font-size: 14px;color: #393D41;}

.layuimini-modify-password .layui-form-item {position: relative;margin-bottom: 0px;}
.layuimini-modify-password .form-body {margin-top: 9px;}
.layuimini-modify-password .layui-form-item .icon {position: absolute;left: 17px;top: 14px;width: 22px;height: 22px;text-align: center;}
.layuimini-modify-password .layui-form-item input {padding-left: 56px;height: 50px;font-size: 15px;padding-right: 20px;}
.layuimini-modify-password .update{margin:45px auto;width: 320px;height: 45px;background-color: #2468F2;font-size: 15px;line-height: 45px;text-align: center;}
.layuimini-modify-password .update button{color: white;}