.layuimini-main-broadcast .title{height: 50px;text-align: center;color: #393D41;line-height: 50px;background-color: white;}
.layuimini-main-broadcast .content{margin: 9px auto;}
.layuimini-main-broadcast .content ul li{background-color: white;padding: 17px 27px;margin-bottom: 11px;}
.layuimini-main-broadcast .content ul li div.desc{font-size: 13px;line-height: 24px;color: #575757;}
.layuimini-main-broadcast .content ul li div.time{margin-top: 6px; font-size: 12px;line-height: 16px;color: #BCBCBC;}